<header>
    <div class="logo">
        <a routerLink="/">
            <h1>
                <span class="mentor">Mentor</span><span class="connect">lik</span>
            </h1>
        </a>
    </div>
    <!-- Main site navigation -->
    <nav>
        <ul>
            <li><a routerLink="/blog">Náš blog</a></li>
            <li><a routerLink="/mentor-registration">Staňte se mentorem</a></li>
            <li><a routerLink="/login">Osobní účet</a></li>
            <li><a routerLink="/donate">Podpořte nás</a></li>
        </ul>
    </nav>
</header>