# Git
.git
.gitignore

# IDE
.idea
*.iml
.vscode
*.swp
*.swo

# Build
dist/
node_modules/

# Logs
logs/
*.log

# Test
src/test/
coverage/

# Environment files
.env
*.env

# Documentation
README.md
docs/

# Temporary files
*.tmp
*.bak
*.backup

# Docker
Dockerfile
docker-compose*.yml

# Angular
.angular/
.cache/ 