<header>
    <div class="logo">
        <a routerLink="/">
            <h1>
                <span class="mentor">Mentor</span><span class="connect">lik</span>
            </h1>
        </a>
    </div>
    <!-- Main site navigation -->
    <nav>
        <ul>
            <li><a routerLink="/blog">Náš blog</a></li>
            <li><a routerLink="/create-mentor">Staňte se mentorem</a></li>
            <li><a routerLink="/login">Osobní účet</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="section-header">
        <h1>Welcome to Mentrolik</h1>
        <h2>Tell us about yourself</h2>
        <h3>Do you want to become:</h3>
    </div>
    
    <div class="button-container">
        <button class="select-button" (click)="selectOption(1)">
            <span>Student</span>
            <img src="assets/images/student-placeholder.jpg" alt="Student Option" />
        </button>
        <button class="select-button" (click)="selectOption(2)">
            <span>Mentor</span>
            <img src="assets/images/mentor-placeholder.jpg" alt="Mentor Option" />
          
        </button>
      </div>

      <button id="continue-button" class="continue-button" [disabled]="!selectedOption">Continue</button>
</main>